@charset "UTF-8";
body {
  font-family: 'Montserrat', sans-serif;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

dl dt,
dl dd {
  overflow-wrap: break-word;
}

.txt_ja {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  letter-spacing: 0.02em;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 2;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  height: 102px;
  background-image: url(img/top.png);
  background-size: cover;
  height: 806px;
  position: relative;
  color: #fff;
}

header .header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header_ttl {
  position: absolute;
  top: 360px;
  left: 138px;
}

header .header_ttl h1 {
  font-size: 64px;
  letter-spacing: 0em;
  line-height: 1.25;
  /* line spacing px / font-size px*/
  font-weight: 700;
}

header .header_ttl p {
  font-size: 24px;
  letter-spacing: 0.05em;
  font-weight: bold;
}

header .header_logo {
  padding-top: 36px;
  padding-left: 40px;
}

header .header_logo h2 {
  font-size: 20px;
  letter-spacing: 0.05em;
  font-weight: bold;
}

header .header_logo p {
  font-size: 12px;
  letter-spacing: 0.05em;
  font-weight: bold;
}

header .header_list {
  margin-right: 27px;
  margin-left: auto;
}

header .header_list li {
  list-style: none;
  float: left;
  margin: 30px 0 30px 63px;
  font-size: 18px;
  letter-spacing: 0em;
}

header .header_list li:hover {
  cursor: pointer;
  border-bottom: 3px solid #fff;
}

header .header_list_sp {
  display: none;
}

#top_arrow {
  position: absolute;
  bottom: 32.3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 37px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

main .container {
  padding: 0px 138px;
}

.ttl h3 {
  position: relative;
  padding-bottom: 28px;
  font-size: 48px;
  letter-spacing: 0.02em;
  /* av /1000*/
}

.ttl h3:after {
  content: "";
  position: absolute;
  bottom: 15px;
  width: 69px;
  left: 0px;
  border-bottom: 5px solid #0A0A0A;
}

.ttl p {
  font-weight: bold;
}

.about_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* 子要素をflexboxにより中央に配置する */
  padding: 146px 0 154px 0;
  width: 100%;
}

.about .ttl {
  width: 46%;
  background-color: #F2F2F2;
  padding: 77px 6% 58px 6%;
  border: 1px solid #707070;
}

.about .ttl dt {
  margin-top: 43px;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0em;
  line-height: 1.7;
}

.about img {
  width: 49%;
  min-width: 342px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*均等に間隔をあける*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content {
  width: 324px;
}

.content figure img {
  margin: 23px 0px;
}

.content .img_ttl {
  font-weight: bold;
  font-size: 16px;
  overflow: hidden;
}

.content h4 {
  font-size: 24px;
  margin: 34px 0 18px 0;
}

.content .item_txt {
  /* line spacing px / font-size px*/
  overflow: hidden;
}

.blog {
  background-color: #F2F2F2;
  padding: 136px 0;
}

.blog_date {
  font-size: 16px;
  letter-spacing: 0.01em;
  line-height: 2;
  /* line spacing px / font-size px*/
  font-weight: bold;
  margin-right: 16px;
}

.blog_ttl, .blog_txt {
  letter-spacing: 0.01em;
  /* line spacing px / font-size px*/
}

.price_content {
  margin: 160px 0px 149px 0px;
  position: relative;
  padding-bottom: 428px;
}

.price .ttl {
  background-color: rgba(255, 255, 255, 0.8);
  padding-top: 55px;
  text-align: center;
  max-width: 494px;
  min-width: 339px;
  width: 50%;
  border: 5px solid #A38787;
}

.price .ttl h3:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.price table {
  margin: 81px 17% 67.4px 17%;
  width: 66%;
  border-collapse: collapse;
}

.price table tr {
  border-bottom: 1px dotted #707070;
  line-height: 3;
}

.price table th {
  width: 50%;
  text-align: left;
}

.price table td {
  width: 50%;
  text-align: right;
}

.price .price_img img {
  position: absolute;
  right: 0;
  top: 93px;
  z-index: -1;
  width: 483px;
}

.map {
  margin-top: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.map dt {
  font-size: 24px;
  letter-spacing: 0;
  font-weight: bold;
}

.map dd {
  margin-bottom: 35px;
}

.access {
  padding: 140px 0 184px 0;
}

.access .explan {
  display: flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
  margin: 152px auto 0 auto;
}

.access .explan dt {
  font-size: 24px;
  letter-spacing: 0;
  font-weight: bold;
  margin-bottom: 35px;
}

.access .explan dd {
  font-size: 16px;
  margin-bottom: 35px;
  letter-spacing: 0.05em;
  line-height: 1.5;
  overflow: hidden;
}

footer {
  height: 264px;
  background-color: #5C3333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer_logo {
  color: #fff;
  font-size: 80px;
  letter-spacing: 0.05em;
  font-weight: 700;
}
/*# sourceMappingURL=stylesheet.css.map */