@font-face {
  font-family: 'objectiveextra_bold';
  src: url("font/objective-extrabold-webfont.woff2") format('woff2'), url("font/objective-extrabold-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'objectivebold_italic';
  src: url("font/objective-bold-italic-webfont.woff2") format('woff2'), url("font/objective-bold-italic-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'objectivemedium';
  src: url("font/objective-medium-webfont.woff2") format('woff2'), url("font/objective-medium-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
$max_width: 1280px;
$break_sp: 640px;
$main_color: #7AD6BB;
$title_color: #000000;
$txt_color: #454545;
$accent_color: #fff;
$main_font: "objectivebold_italic", sans-serif;
$sub_font: "Noto Sans JP", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif; // $yu_font: YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
// $eng_font: 'Noto Sans JP', sans-serif; /* 変数宣言 */
$bold_font: "objectiveextra_bold", sans-serif;
$medium_font: "objectivemedium", sans-serif;
@mixin max-screen($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

html {
  // font-size: 62.5%; // 10px
  // font-size: 0.99vw;
  font-size: 0.78vw;
  // @include min-screen($break_web) {
  //     font-size: 10px;
  // }
  // @include max-screen($break_sp) {
  //     font-size: 0.99vw;
  // }
  // @include max-screen($break_sp) {
  //   font-size: 10px;
  // }
}
@mixin txt_font($margin_bottom:false) {
  font-size: clamp(14px ,2rem, 20px);
  line-height: 2;
  font-family: $sub_font;
  letter-spacing: 0;
  color: $txt_color;
  text-align: left;
  font-weight: 300;
  @if $margin_bottom {
    margin-bottom: clamp(20px ,4rem, 40px);
  }
}

body {
  width: 100%;
  background-color: $accent_color;
  // font-family: $main_font;
  // letter-spacing: 0;
  // font-size: 1.6rem;
  // line-height: 2;
  @include txt_font();
}
// @mixin font_size_calc ($min_size, $max_size, $min_screen_width : 64rem, $max_screen_width: 128rem) {
//     $x: $min_screen_width / 100;
//     $x2: (100 * ($max_size - $min_size) / ($max_screen_width - $min_screen_width));
//
//     font-size: calc(#{$min_size} + ((1vw - #{$x}) * #{$x2}));
// }

li {
  list-style: none;
}

.container {
  max-width: 1004px;
  width: 100%;
  margin: 0 auto;
  @include max-screen($break_sp) {
    width: 96%;
  }
}

.header {
  &_bg {
    position: relative;
    // height: 578px;
    // height: 72.25%;
    height: 45.15vw;
    overflow: hidden;
  }

  &_video {
    width: 100%;
    height: 578px;
    // max-height: 578px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    // background-size: cover;
    // background-position: center center;
    // vertical-align: middle;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  &_logo {
    font-family: $bold_font;
    font-size: clamp(20px,4.2rem, 42px);
    letter-spacing: 0.05em;
    line-height: 1.19;
    color: $accent_color;
    position: absolute;
    // top: 36px;
    // left: 36px;
    top: clamp(20px,3.6rem, 36px);
    left: clamp(20px,3.6rem, 36px);
    display: block;
    max-width: $max_width;
  }

  &_titile {
    position: relative;
    // margin: 0 12.5%;
    // padding-left: clamp(10px,12.7rem, 127px);
    .title {
      position: absolute;
      padding-left: clamp(10px,12.7rem, 127px);
      font-family: $main_font;
      font-size: clamp(16px,18rem, 180px);
      letter-spacing: 0;
      line-height: 1.22;
      color: $main_color;

      &:nth-child(1) {
        bottom: 0;
        // left: 127px;
        left: 0;
      }

      &:nth-child(2) {
        top: 0;
        // left: 127px;
        left: 0;
      }
    }
  }
}

.intro {
  margin: 0 auto;
  width: 56%;
  max-width: 722px;
  word-wrap: break-word;
  margin-top: clamp(16px,18rem, 180px);
  padding: 24.9rem 0 27.7rem;
  // padding: clamp(16px,24.9rem, 249px) 0 clamp(16px,27.7rem, 277) 0;
  @include max-screen($break_sp) {
    width: 96%;
  }

  &_title {
    font-size: clamp(18px ,3.2rem, 32px);
    line-height: 1.3;
    font-family: $sub_font;
    font-weight: bold;
    margin-bottom: clamp(20px ,4rem, 40px);
    text-align: center;
  }

  &_txt {
    @include txt_font(true);
    font-size: clamp(14px ,2.4rem, 24px);
    // line-height: 2;
    margin-bottom: clamp(24px ,4.8rem, 48px);
  }
  // font-family: $sub_font;
  // letter-spacing: 0;
  // color: $txt_color;
}
// .skills {
//   background-color: #F2F2F2;
//   position: relative;
//   margin: 0 auto;
//   text-align: center;
//   height: 200.5rem;
//   max-height: 2005px;
//   // display: flex;
//   // flex-direction: column;
//   // justify-content: space-around;
//   // vertical-align: middle;
//   // padding: 145px 0 239px;
//   padding: 14.5rem 0 23.9rem;
//
//
//   &_bg {
//     // width: 837px;
//     width: 65.3%;
//     max-width: 837px;
//     // height: 452px;
//     height: 35vw;
//     height: 55%;
//     max-height: 452px;
//     background-color: $main_color;
//     z-index: -1;
//     position: absolute;
//     // position: relative;
//   }
//
//   &_cards {
//     display: flex;
//     justify-content: space-between;
//     // padding: 0 128px;
//     position: absolute;
//     z-index: 2;
//     // top: 307px;
//     // top:24%;
//     top: clamp(30px ,30.7rem, 307px);
//     left: 50%;
//     // width: 100%;
//     width: 80%;
//     max-width: 1025px;
//     transform: translateX(-50%);
//     flex-direction: inherit;
//     height: 50%;
//     overflow: hidden;
//     // //&.se {
//     // &:nth-child(2n){
//     //   flex-direction: row-se;
//     // }
//   }
//
//   img {
//     width: 100%;
//   }
//
//   .cards {
//     &_bg {
//       // position: absolute;
//       position: relative;
//       z-index: 3;
//       width: 100%;
//       text-align: center;
//       // margin: 115px 0 129px;
//       margin: 11.5rem 0 12.9rem;
//       margin-top:  clamp(15px ,11.5rem, 115px);
//       margin-bottom: clamp(14px ,12.9rem, 129px);
//
//
//       // height: 567px;
//       height: 56.7rem;
//       height: 50%;
//       display: flex;
//
//       &:nth-child(2) {
//         flex-direction: row-reverse;
//       }
//     }
//
//     &_ul {
//       width: 100%;
//       margin: 0 auto;
//       // display: flex;
//       height: 100%;
//
//     }
//     // &_ttl {
//     //   // position: absolute;
//     //   // z-index: 1;
//     //   // left:227px;
//     //   width: 837px;
//     // }
//     &_img {
//       width: 48%;
//     }
//
//     &_txt {
//       @include txt_font();
//       // width: 42rem;
//       width: 40%;
//       max-width: 420px;
//       // font-family: $sub_font;
//       // font-size: clamp(16px,2rem, 20px);
//       // letter-spacing: 0;
//       // line-height: 2;
//       // color: $txt_color;
//       overflow: hidden;
//       @include max-screen($break_sp) {
//         width: 45%;
//         // font-size: 10px;
//         line-height: 1.3;
//       }
//     }
//
//     &_dt {
//       font-family: $medium_font;
//     }
//   }
//
//   &_bg_txt {
//     writing-mode: vertical-rl;
//     position: absolute;
//     z-index: 4;
//     font-family: $main_font;
//     font-size: clamp(30px,30rem, 300px);
//     letter-spacing: 0;
//     line-height: 0.733;
//     color: $accent_color;
//     left: 0;
//     transform: translateX(-50%);
//   }
// }
//
// .number {
//   position: absolute;
//   padding-top: clamp(20px,11.9rem, 119px);
//   display: flex;
//   align-items: flex-start;
//   justify-content: space-around;
//   width: 65.3%;
//   max-width: 837px;
//
//   &_ttl {
//     // font-size: clamp(16px,3.2rem, 32px);
//     font-size: clamp(14px,3.2rem, 32px);
//   }
//
//   &_value {
//     font-family: $main_font;
//     font-size: clamp(20px,10rem, 100px);
//     line-height: 1.3;
//
//     span {
//       font-size: clamp(16px,2rem, 20px);
//       vertical-align: text-top;
//     }
//   }
//   //&:nth-child(2) {
//   //}
// }
// .txt {
//   width: 72rem;
//   max-width: 720px;
//   // font-family: $sub_font;
//   // font-size: clamp(16px,2rem, 20px);
//   // letter-spacing: 0;
//   // line-height: 2;
//   @include txt_font(true);
//   color: $accent_color;
//   // margin: 0 auto clamp(32px,4rem, 40px);
// }

.outline {
  position: absolute;
  z-index: -1;
  left: calc(50% + 5px);
  top: -4px;
  transform: translateX(-50%);
  display: inline-block;
  color: $accent_color;
  /* 文字の色 */
  font-size: clamp(6px,6rem, 60px);
  /* 文字のサイズ */
  letter-spacing: 0;
  /* 文字間 */
  line-height: 1.33;
  text-shadow: 1px 1px 0 $main_color, -1px 1px 0 $main_color, 1px -1px 0 $main_color, -1px -1px 0 $main_color, 1px 0 0 $main_color, 0 1px 0 $main_color, -1px 0 0 $main_color, 0 -1px 0 $main_color;
  /* 文字の影 */
  &_title {
    // h2 {
    font-family: $main_font;
    font-size: clamp(6px,6rem, 60px);
    letter-spacing: 0;
    line-height: 1.33;
    color: $title_color;
    position: relative;
    z-index: 2;
    // display: inline-block;
    // width: fit-content;
    margin: 0 auto;


  }
}
// .title{
//   position: absolute;
//   z-index: 1;
// }

.works {
  border-left: 1px solid #707070;
  // height: 1334px;
  // margin: 0 64px;
  margin: 0 5vw;

  &_wrapper {
    margin: 0 auto;
    text-align: center;
    padding: clamp(25px,20.4rem, 204px) 0 clamp(10px,9.7rem, 97px);
  }

  // .ttl_small {
  // }

.top_title{
  &::before{
    content:"Recent works";
    color: $main_color;
    font-family: $main_font;
    font-size: clamp(12px ,2.4rem, 24px);
    line-height: 1.6;
    position: absolute;
    top: -100%;
    // width: fit-content;
    left: 50%;
    transform: translateX(-50%);
  }
}

  &_cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    // padding: 79px 64px;
    padding-top: clamp(10px, 7.9rem, 79px);
    padding-bottom: clamp(10px, 7.9rem, 79px);
    padding-left: 5vw;
    position: relative;

    @include max-screen($break_sp) {
      flex-direction: column;
    }

    figure {
      width: 43.1%;
      @include max-screen($break_sp) {
        width: 100%;
      }
    }

    img {
      width: 100%;

    }

    .card_txt {
      width: 43%;
      @include txt_font();
      // font-family: $sub_font;
      // font-size: clamp(10px,2rem, 20px);
      // letter-spacing: 0;
      // line-height: 2;
      // color: $txt_color;
      // text-align: left;
      @include max-screen($break_sp) {
        width: 100%;
        line-height: 1.3;
      }
    }

    &:before {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%);
      // left: -2.5%;
      // $border_width: clamp(2px, 1.5rem, 15px);
      // left: calc(-2.5vw + #{$border_width});
      // transform: translateY(-50%);
      content: "";
      // width: 50px;
      // width: clamp(10px, 5rem, 50px);
      // height: clamp(10px, 5rem, 50px);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: $accent_color;
      border: 1px solid $main_color;
      // border-width: clamp(2px, 1.5rem, 15px);
      // border-width: $border_width;
      border-width: 15px;
      @include max-screen($break_sp) {
        width: 25px;
        height: 25px;
        border-width:8px;
      }

    }
    // &:after {
    //   position: absolute;
    //   top: 50%;
    //   // left: -14px;
    //   left: -1.25%;
    //   transform: translateY(-50%);
    //   content: "";
    //   // width: 18px;
    //   // height: 18px;
    //   width: clamp(4px, 1.8rem, 18px);
    //   height: clamp(4px, 1.8rem, 18px);
    //   // border-left: 1px solid $main_color;
    //   border-radius: 50%;
    //   // color: $main_color;
    //   background: $accent_color;
    // }
  }

  &_comment {
    @include txt_font();
    // text-align: left;
    // font-family: $sub_font;
    // font-size: clamp(10px,2rem, 20px);
    // letter-spacing: 0;
    // line-height: 2;
    // color: $txt_color;
    // text-align: left;
    padding: 0 17rem;
    width: 100%;

    @include max-screen($break_sp) {
      // width: 55%;
      line-height: 1.3;
      padding: 0 0 0 5vw;

    }

    .comment_wrap {
      width: 100%;
      max-width: 815px;
      margin: 0 auto;
    }

    h3 {
      font-size: clamp(18px,3.2rem, 32px);
    }
  }
}
// $others_height : 1978;

.others {
  background-color: #F0F0F0;
  // height: #{$others_height}px;
  &_container {
    // display: grid;
    // gap: 10px;
    // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    // grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    position: relative;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    height: 154vw;
    max-height: 1978px;
  }

  &_txt {
    // font-size: clamp(10px,2rem, 20px);
    @include txt_font();
    @include max-screen($break_sp) {
      line-height: 1.3;
    }
  }

  &_item {
    @include txt_font();
    font-size: clamp(14px,3.2rem, 32px);
    // letter-spacing: 0;
    line-height: 1.34;
    // color: $txt_color;
    dl:nth-of-type(1) {
      position: absolute;
      // left: 433px;
      left: 33.8%;
      // top: 214px;
      // $top :433/$others_height * 1280;
      top: 10.8%;
      z-index: 3;
      @include max-screen($break_sp) {
        left: 15%;
      }
    }

    dl:nth-of-type(2) {
      position: absolute;
      // top: 1561px;
      top: 78.9%;
      // left: 696px;
      right: 12%;
      z-index: 3;
    }

    p:nth-of-type(1) {
      position: absolute;
      // left: 547px;
      left: 42.7%;
      // top: 406px;
      // $top :406/$others_height;
      // top: #{$top}%;
      top: 20.5%;
      z-index: 3;
      width: 37.5%;
      @include max-screen($break_sp) {
        width: 50%;
      }
    }

    p:nth-of-type(2) {
      position: absolute;
      // top: 1690px;
      top: 85.4%;
      // left: 442px;
      left: 34.5%;
      z-index: 3;
      width: 44.7%;
      @include max-screen($break_sp) {
        width: 55%;
      }
    }

    img:nth-of-type(1) {
      position: absolute;
      // top: 406px;
      top: 20.5%;
      z-index: 3;
      width: 32.5%;
    }

    img:nth-of-type(2) {
      position: absolute;
      // top: 642px;
      top: 32.4%;
      // left: 792px;
      left: 61.8%;
      z-index: 3;
      width: 28.1%;
    }

    img:nth-of-type(3) {
      position: absolute;
      // top: 779px;
      top: 39.3%;
      // left: 267px;
      left: 20.8%;
      z-index: 3;
      width: 28.1%;
    }

    img:nth-of-type(4) {
      position: absolute;
      // top: 1046px;
      top: 52.8%;
      // left: 687px;
      left: 53.6%;
      z-index: 3;
      width: 28.1%;
    }

    img:nth-of-type(5) {
      position: absolute;
      // top: 1228px;
      top: 62%;
      // left: 115px;
      left: 8.9%;
      z-index: 3;
      width: 41%;
    }
  }

  .number {
    padding-top: 0;
    // display: flex;
    // align-items: flex-start;
    justify-content: flex-start;
    width: auto;
    // max-width: 1280px;
    &_ttl {
      // font-size: clamp(16px,3.2rem, 32px);
      padding-right: clamp(15px,5.3rem, 53px);
    }
  }
}

.rect_bg {
  max-width: 525px;
  width: 41%;
  max-height: 313px;
  height: 24.4%;
  background-color: $main_color;
  z-index: 1;
  @include max-screen($break_sp) {
    height: 16%;
  }
  // position: absolute;
  // position: relative;
  &:nth-child(2) {
    // top: 592px;
    top: 29.9%;
    // left: 207px;
    left: 16.1%;
    z-index: 1;
    position: absolute;
  }

  &:nth-child(3) {
    // top: 1330px;
    top: 67.2%;
    // left: 442px;
    left: 34.5%;
    z-index: 1;
    position: absolute;
  }
}

.history {
  margin: 0 auto;
  text-align: center;
  // padding: 257px 0 163px;
  padding-top: clamp(30px, 25.7rem, 257px);
  padding-bottom: clamp(20px, 16.3rem, 163px);
  // width: 100%;
  &_contents {
    margin: clamp(15px, 11.5rem, 115px) auto 0;

    dd,
    dt {
      padding: clamp(5px, 3.7rem, 37px) 0;
    }

    dd {
      border-top: 2px solid $txt_color;
      width: 70%;
      text-align: left;
    }
  }

  &_item {
    margin: 0 auto;
    display: flex;
    width: 63.75%;
    display: flex;
    justify-content: center;
    // justify-content: space-around;
    @include txt_font();
    font-family: $main_font;
    // font-size: clamp(16px,2rem, 20px);
    // letter-spacing: 0;
    // line-height: 2;
    // color: $txt_color;s
    font-weight: bold;
    @include max-screen($break_sp) {
      width: 85%;
      line-height: 1.3;
    }
  }

  &_ttl {
    color: $main_color;
    text-align: right;
    padding-left: clamp(5px, 3.7rem, 37px);
    margin-right: clamp(3px, 2.5rem, 25px);
    border-top: 2px solid $main_color;
    width: 22.8%;
  }
}

.value {
  text-align: center;

  .sub_ttl {
    font-family: $main_font;
    font-size: clamp(16px,2.4rem, 24px);
    letter-spacing: 0;
    line-height: 1.333;
    color: $main_color;
  }

  h2 {
    font-family: $sub_font;
    font-size: clamp(24px,4.8rem, 48px);
    letter-spacing: 0;
    line-height: 1.333;
    color: $accent_color;
  }

  &_top {
    background-color: $title_color;
    padding: clamp(30px, 21.8rem, 218px) 0 clamp(10px, 14.2rem, 142px);
  }

  &_txt {
    margin: 0 auto;
    width: 71rem;
    max-width: 711px;
    // @include txt_font();
    @include txt_font(true);
    text-align: left;
    color: $accent_color;
    // .txt {
    // font-family: $sub_font;
    // font-size: clamp(16px,2rem, 20px);
    // letter-spacing: 0;
    // line-height: 2;
    // margin: 0 auto clamp(32px,4rem, 40px);
    // }
    @include max-screen($break_sp) {
      width: 80%;
    }
  }

  &_bottom {
    background-image: url("img/value_bottom_bg.png");
    background-size: cover;
    background-position: center center;

    &_bg {
      background-color: rgba(#262626,.91);
      padding: clamp(30px, 20.6rem, 206px) 0 clamp(20px, 18.5rem, 185px);
    }
  }
  $slier_width: 733;

  #css-slider {
    // width: 300px;
    // width: 733px;
    width: 100%;
    // height: 200px;
    height: 435px;
    height: 33.9vw;
    overflow: hidden;
  }

  .slide-item {
    // width: 300px;
    width: 733px;
    width: 20%;
    // height: 200px;
    float: left;
    position: relative;

    img {
      width: 100%;
    }
  }

  .slider-wrapper {
    width: 300%;
    position: relative;
    left: 0;
    will-change: transform;
    animation: slider 20s infinite;
  }
  @keyframes slider {
    //   0% { transform: translateX(0); }
    //   33% { transform: translateX(-300px); }
    //   66% { transform: translateX(-600px); }
    //   100% { transform: translateX(0); }
    0% {
      transform: translateX(-366px);
      transform: translateX(-10%);
    }

    25% {
      transform: translateX(-733px);
      transform: translateX(-20%);
    }

    50% {
      transform: translateX(-733px);
      transform: translateX(-25%);
    }

    75% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-366px);
      transform: translateX(-10%);
    }
  }
}

footer {
  height: clamp(30px, 34.6rem, 346px);
  background-color: $main_color;
}

.fadein {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
}
@import "skills";
