@font-face {
  font-family: 'objectiveextra_bold';
  src: url("font/objective-extrabold-webfont.woff2") format('woff2'), url("font/objective-extrabold-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'objectivebold_italic';
  src: url("font/objective-bold-italic-webfont.woff2") format('woff2'), url("font/objective-bold-italic-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'objectivemedium';
  src: url("font/objective-medium-webfont.woff2") format('woff2'), url("font/objective-medium-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'objectiveregular';
  src: url("font/objective-regular-webfont.woff2") format('woff2'), url("font/objective-regular-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
$max_width: 1280px;
$break_sp: 640px;
$main_color: #7AD6BB;
$title_color: #000000;
$txt_color: #454545;
$accent_color: #fff;
$main_font: "objectiveregular", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
$sub_font: "'Noto Sans JP", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
$yu_font: YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
$eng_font: 'Noto Sans JP', sans-serif; /* 変数宣言 */
@mixin max-screen($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

html {
  // font-size: 62.5%; // 10px
  // font-size: 0.99vw;
  font-size: 0.78vw;
  // @include min-screen($break_web) {
  //     font-size: 10px;
  // }
  // @include max-screen($break_sp) {
  //     font-size: 0.99vw;
  // }
}

body {
  width: 100%;
  background-color: $accent_color;
  font-family: $main_font;
  letter-spacing: 0;
  // font-size: 1.6rem;
  line-height: 2;
}
// @mixin font_size_calc ($min_size, $max_size, $min_screen_width : 64rem, $max_screen_width: 128rem) {
//     $x: $min_screen_width / 100;
//     $x2: (100 * ($max_size - $min_size) / ($max_screen_width - $min_screen_width));
//
//     font-size: calc(#{$min_size} + ((1vw - #{$x}) * #{$x2}));
// }

li {
  list-style: none;
}

.container {
  max-width: 1004px;
  width: 100%;
  margin: 0 auto;
  @include max-screen($break_sp) {
    width: 96%;
  }
}

.header {
  &_bg {
    position: relative;
    height: 578px;
    overflow: hidden;
  }

  &_video {
    width: 100%;
    height: 578px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    // background-size: cover;
    // background-position: center center;
    // vertical-align: middle;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  &_logo {
    font-family: $main_font;
    font-size: 42px;
    letter-spacing: 0.05em;
    line-height: 1.19;
    color: $accent_color;
    position: absolute;
    top: 36px;
    left: 36px;
    display: block;
    max-width: $max_width;
  }

  &_titile {
    position: relative;
    // margin: 0 12.5%;
    // padding-left: clamp(10px,12.7rem, 127px);
    .title {
      position: absolute;
      padding-left: clamp(10px,12.7rem, 127px);
      font-family: "objectivebold_italic";
      font-size: clamp(16px,18rem, 180px);
      letter-spacing: 0;
      line-height: 1.22;
      color: $main_color;

      &:nth-child(1) {
        bottom: 0;
        // left: 127px;
        left: 0;
      }

      &:nth-child(2) {
        top: 0;
        // left: 127px;
        left: 0;
      }
    }
  }
}

.intro {
  margin: 0 auto;
  width: 56%;
  max-width: 722px;
  word-wrap: break-word;
  margin-top: clamp(16px,18rem, 180px);
  padding: 24.9rem 0 27.7rem;
  // padding: clamp(16px,24.9rem, 249px) 0 clamp(16px,27.7rem, 277) 0;
  &_title {
    font-size: clamp(18px ,3.2rem, 32px);
    line-height: 1.3;
  }

  &_txt {
    font-size: clamp(14px ,2.4rem, 24px);
    line-height: 2;
  }
  font-family: $sub_font;
  letter-spacing: 0;
  color: $txt_color;
}

.skills {
  background-color: #F2F2F2;
  position: relative;
  margin: 0 auto;
  text-align: center;
  height: 200.5rem;
  max-height: 2005px;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-around;
  // vertical-align: middle;
  padding: 145px 0 239px;

  &_bg {
    width: 837px;
    height: 452px;
    background-color: $main_color;
    z-index: -1;
    position: absolute;
    // position: relative;
  }

  &_cards {
    display: flex;
    justify-content: space-between;
    padding: 0 128px;
    position: absolute;
    z-index: 2;
    top: 307px;
    width: 100%;
    flex-direction: inherit;
    // //&.se {
    // &:nth-child(2n){
    //   flex-direction: row-se;
    // }
  }

  img {
    width: 100%;
  }

  .cards_bg {
    // position: absolute;
    position: relative;
    z-index: 3;
    width: 100%;
    text-align: center;
    margin: 115px 0 129px;
    height: 567px;
    display: flex;

    &:nth-child(2) {
      flex-direction: row-reverse;
    }
  }

  .cards_ul {
    width: 100%;
    margin: 0 auto;
    // display: flex;
  }

  .cards_ttl {
    // position: absolute;
    // z-index: 1;
    // left:227px;
    width: 837px;
  }

  .card_txt {
    width: 42rem;
    max-width: 420px;
    font-family: $sub_font;
    font-size: clamp(16px,2rem, 20px);
    letter-spacing: 0;
    line-height: 2;
    color: $txt_color;
  }

  .skills_bg_txt {
    writing-mode: vertical-rl;
    position: absolute;
    z-index: 4;
    font-family: $main_font;
    font-size: clamp(30px,30rem, 300px);
    letter-spacing: 0;
    line-height: 0.733;
    color: $accent_color;
    left: 0;
    transform: translateX(-50%);
  }
}

h2 {
  font-family: $main_font;
  font-size: clamp(6px,6rem, 60px);
  letter-spacing: 0;
  line-height: 1.33;
  color: $title_color;
  position: relative;
  z-index: 2;
  display: inline-block;
}
// .title{
//   position: absolute;
//   z-index: 1;
// }

.outline {
  position: absolute;
  z-index: -1;
  left: 5px;
  top: -4px;
  display: inline-block;
  color: $accent_color;
  /* 文字の色 */
  font-size: clamp(6px,6rem, 60px);
  /* 文字のサイズ */
  letter-spacing: 0;
  /* 文字間 */
  line-height: 1.33;
  text-shadow: 1px 1px 0 $main_color, -1px 1px 0 $main_color, 1px -1px 0 $main_color, -1px -1px 0 $main_color, 1px 0 0 $main_color, 0 1px 0 $main_color, -1px 0 0 $main_color, 0 -1px 0 $main_color;
  /* 文字の影 */
}

.works {
  border-left: 1px solid #707070;
  // height: 1334px;
  margin: 0 64px;

  &_wrapper {
    margin: 0 auto;
    text-align: center;
    padding: 204px 0 97px;
  }

  &_cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 79px 64px;
    position: relative;

    img {
      width: 100%;
    }

    .card_txt {
      width: 43%;
      font-family: $sub_font;
      font-size: clamp(10px,2rem, 20px);
      letter-spacing: 0;
      line-height: 2;
      color: $txt_color;
      text-align: left;
    }

    &:before {
      position: absolute;
      top: 50%;
      left: -28px;
      transform: translateY(-50%);
      content: "";
      width: 50px;
      height: 50px;
      // border-left: 1px solid $main_color;
      border-radius: 50%;
      // color: $main_color;
      background: $main_color;
    }
  }

  &_comment {
    text-align: left;
    font-family: $sub_font;
    font-size: clamp(10px,2rem, 20px);
    letter-spacing: 0;
    line-height: 2;
    color: $txt_color;
    text-align: left;
    padding: 0 17rem;
    width: 100%;

    .comment_wrap {
      width: 100%;
      max-width: 815px;
      margin: 0 auto;
    }

    h3 {
      font-size: clamp(16px,3.2rem, 32px);
    }
  }
}

.others {
  background-color: #F0F0F0;
  height: 1978px;
  max-height: 1978px;
  &_container {
    // display: grid;
    // gap: 10px;
    // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    // grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    position: relative;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
  }

  &_txt {
    font-size: clamp(10px,2rem, 20px);
  }

  &_item {
    // background: #ddd;
    // padding: 10px;
    // border-radius: 8px;
    // border: 3px solid #ccc;
    // position: absolute;
    font-family: $sub_font;
    font-size: clamp(16px,3.2rem, 32px);
    letter-spacing: 0;
    line-height: 2;
    color: $txt_color;

    dl:nth-of-type(1) {
      position: absolute;
      left: 433px;
      top: 214px;
      z-index: 3;
    }

    p:nth-of-type(1) {
      position: absolute;
      left: 547px;
      top: 406px;
      z-index: 3;
      width: 37.5%;
    }

    dl:nth-of-type(2) {
      position: absolute;
      top: 1561px;
      left: 696px;
      z-index: 3;
    }

    p:nth-of-type(2) {
      position: absolute;
      top: 1690px;
      left: 442px;
      z-index: 3;
      width: 44.7%;
    }

    img:nth-of-type(1) {
      position: absolute;
      top: 406px;
      z-index: 3;
    }

    img:nth-of-type(2) {
      position: absolute;
      top: 642px;
      left: 792px;
      z-index: 3;
    }

    img:nth-of-type(3) {
      position: absolute;
      top: 779px;
      left: 267px;
      z-index: 3;
    }

    img:nth-of-type(4) {
      position: absolute;
      top: 1046px;
      left: 687px;
      z-index: 3;
    }

    img:nth-of-type(5) {
      position: absolute;
      top: 1228px;
      left: 115px;
      z-index: 3;
    }
  }
}

.number {
  display: flex;
  align-items: flex-start;
  &_ttl {
    font-size: clamp(16px,3.2rem, 32px);
  }

  &_value {
    font-family: $main_font;
    font-size: clamp(20px,10rem, 100px);
    line-height: 1.3;

    span {
      font-size: clamp(16px,2rem, 20px);
      vertical-align: text-top;
    }
  }
  //&:nth-child(2) {
  //}
}

.rect_bg {
  width: 525px;
  height: 313px;
  background-color: $main_color;
  z-index: 1;
  // position: absolute;
  // position: relative;
  &:nth-child(2){
    top:592px;
    left:207px;
    z-index: 1;
    position: absolute;
  }
  &:nth-child(3){
    top:1330px;
    left:442px;
    z-index: 1;
    position: absolute;
  }
}
